photos.rcdw.nl {
        reverse_proxy 100.69.133.120:2283 {
                header_up Host {http.reverse_proxy.upstream.hostport}
        }
}

karakeep.rcdw.nl {
        reverse_proxy 100.69.133.120:3000 {
                header_up Host {http.reverse_proxy.upstream.hostport}
        }
}

calendar.rcdw.nl {
        reverse_proxy 100.69.133.120:5232 {
                header_up Host {http.reverse_proxy.upstream.hostport}
        }
}

drive.rcdw.nl {
        reverse_proxy 100.69.133.120:5068 {
                header_up Host {http.reverse_proxy.upstream.hostport}
        }
}